<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352393549741-3m931q0mplusagklokpqd4vvivgthhjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352393549741-3m931q0mplusagklokpqd4vvivgthhjd</string>
	<key>API_KEY</key>
	<string>AIzaSyAGBDXYJGN1KqiJK8G6VBxRc3VMBG-SX0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>352393549741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shivg.ToDoSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todo-app-tlkl</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-tlkl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352393549741:ios:fe64e26e9ae751d665f324</string>
</dict>
</plist>